<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title color="primary">NgRx Boilerplate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Entity Name:</ion-label>
    <ion-input type="text" value="Pizzas" (ionChange)="entityNameChanged($event.detail.value)"></ion-input>
  </ion-item>


    <!-- actions -->
    <ion-card>
      <ion-card-header>
        <ion-item (click)="actionFileOpen=!actionFileOpen" class="mouse">
          <ion-label>Actions</ion-label>
          <ion-icon *ngIf="!actionFileOpen" src="assets/chevron-down.svg" slot="end"></ion-icon>
          <ion-icon *ngIf="actionFileOpen" src="assets/chevron-up.svg" slot="end"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <app-actions [name]="entityName" [active]="actionFileOpen"></app-actions>
      </ion-card-content>
    </ion-card>
    <!-- effects -->
    <ion-card>
      <ion-card-header>
        <ion-item (click)="effectFileOpen=!effectFileOpen" class="mouse">
          <ion-label>Effect</ion-label>
          <ion-icon *ngIf="!effectFileOpen" src="assets/chevron-down.svg" slot="end"></ion-icon>
          <ion-icon *ngIf="effectFileOpen" src="assets/chevron-up.svg" slot="end"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <app-effects [name]="entityName" [active]="effectFileOpen"></app-effects>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item (click)="reducerFileOpen=!reducerFileOpen" class="mouse">
          <ion-label>Reducer</ion-label>
          <ion-icon *ngIf="!reducerFileOpen" src="assets/chevron-down.svg" slot="end"></ion-icon>
          <ion-icon *ngIf="reducerFileOpen" src="assets/chevron-up.svg" slot="end"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <app-reducers [name]="entityName" [active]="reducerFileOpen"></app-reducers>
      </ion-card-content>
    </ion-card>
</ion-content>
