<div class="center">
  <h2>NgRx Boilerplate</h2>
</div>

<div class="main">
  <div class="label-input">
    <label>Entity Name:</label>
    <input style="border-bottom: 1px solid black;" type="text" value="Pizzas"
    (keyup)="entityNameChanged($event.target.value)" />
  </div>
</div>

<div class="actions">
  <div class="header" (click)="actionFileOpen=!actionFileOpen">
    <div class="label">
      Actions
    </div>
    <div>
      <img *ngIf="!actionFileOpen" src="assets/chevron-down.svg" />
      <img *ngIf="actionFileOpen" src="assets/chevron-up.svg" />
    </div>
  </div>
  <div class="body">
    <app-actions [name]="entityName" [active]="actionFileOpen" (download)="createFile($event,'action')"></app-actions>
  </div>
</div>

<div class="effects">
  <div class="header" (click)="effectFileOpen=!effectFileOpen">
    <div class="label">
      Effects
    </div>
    <div>
      <img *ngIf="!effectFileOpen" src="assets/chevron-down.svg" />
      <img *ngIf="effectFileOpen" src="assets/chevron-up.svg" />
    </div>
  </div>
  <div class="body">
    <app-effects [name]="entityName" [active]="effectFileOpen" (download)="createFile($event,'effect')"></app-effects>
  </div>
</div>


<div class="reducer">
  <div class="header" (click)="reducerFileOpen=!reducerFileOpen">
    <div class="label">
      Reducer
    </div>
    <div>
      <img *ngIf="!reducerFileOpen" src="assets/chevron-down.svg" />
      <img *ngIf="reducerFileOpen" src="assets/chevron-up.svg" />
    </div>
  </div>
  <div class="body">
    <app-reducers [name]="entityName" [active]="reducerFileOpen" (download)="createFile($event,'reducer')"></app-reducers>
  </div>
</div>
