/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
.center{
  text-align: center;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.actions, .effects, .reducer{
 .header{
  background: #ece7e3;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  .label{
    width: 90%;
  }
 }
  img{
    width:20px;
  }
}
.label-input{
  padding-left: 10%;
  label{
    padding:10px;
  }
  input{
    width: 70%;
    height: 25px;
  }
}
